name: End-to-End Test

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * 0"

jobs:
  e2e-test:
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.9", "3.10", "3.11"]
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      
      - name: Install azkv
        run: |
          pip --version
          pip install azure-keyvault-cli
      - name: Run azkv
        run: azkv --help
